<div class="basic-services">
    <p class="one">ОСНОВНЫЕ УСЛУГИ</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="cards">
        <div class="card1">
            <img src="../../../assets/1 112.svg" alt="">
            <div class="cub"></div>
            <h1>3D-дизайн</h1>
            <p>Идейные соображения высшего порядка, а также внедрение современных методик обеспечивает актуальность
                глубокомысленных рассуждений. </p>
        </div>
        <div class="card1">
            <img src="../../../assets/_DSC3053 1.svg" alt="">
            <div class="cub"></div>
            <h1>Ремонт</h1>
            <p>Мы вынуждены отталкиваться от того, что глубокий уровень погружения допускает внедрение своевременного
                выполнения сверхзадачи. </p>
        </div>
        <div class="card1">
            <img src="../../../assets/IMG_9795-Edit-2-Edit-2 1.svg" alt="">
            <div class="cub"></div>
            <h1>Строительство</h1>
            <p>Мы вынуждены отталкиваться от того, что глубокий уровень погружения допускает внедрение своевременного
                выполнения сверхзадачи.</p>
        </div>
        <div class="card1">
            <img src="../../../assets/ланд 1.svg" alt="">
            <div class="cub"></div>
            <h1>Ландшафтный<br> дизайн</h1>
            <p>Идейные соображения высшего порядка обеспечивает актуальность глубокомысленных рассуждений. </p>
        </div>
    </div>
</div>