<div class="info-div">
    <div class="container">
        <div class="row">
            <div class="info_box">
                <h2>100 +</h2>
                <h3>
                    <div class="cub"></div> Реализованные проекты
                </h3>
                <p> Работаем с любой недвижимостью – от дворцов до квартир</p>
            </div>
            <div class="info_box">
                <h2>10 лет</h2>
                <h3>
                    <div class="cub"></div> Безупречная репутация
                </h3>
                <p>Наши специалисты постоянно<br> стажируются у лидеров строительных <br> работ</p>
            </div>
            <div class="info_box">
                <h2>3 года</h2>
                <h3>
                    <div class="cub"></div> Гарантии на все работы
                </h3>
                <p>Мы внимательно изучаем рынок<br> отделочных материалов и инновационной<br> техники</p>
            </div>
            <div class="info_box">
                <h2>Сроки</h2>
                <h3>
                    <div class="cub"></div> Процесс
                </h3>
                <p>Нужно лучшее – закажи это<br> у лучших!</p>
            </div>
        </div>
    </div>
</div>