<div class="instagram">
    <img class="logo" src="../../../assets/instagram.png" alt="">
    <div class="insta">
        <img src="../../../assets/квар3 8.png" alt="">
        <img src="../../../assets/квар1 1.png" alt="">
        <img src="../../../assets/квар2 1.png" alt="">
        <img src="../../../assets/bedroom_small_6 1 (1).png" alt="">
    </div>
    <div class="insta">
        <img src="../../../assets/мытная (высоцкая)_hr-20 1 (1).png" alt="">
        <img src="../../../assets/Спальня основная_вид1 1.png" alt="">
        <img src="../../../assets/сканд 1.png" alt="">
        <img src="../../../assets/1111 1.png" alt="">
    </div>
</div>