<div class="our-projects">
    <p class="one" style="margin-top: 70px;">НАШИ ПРОЕКТЫ</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="proj-card">
            <img src="../../../assets/15_белая столешница 1.png" alt="">
            <h3>Квартира на Академической</h3>
            <h2>Стиль - Лофт</h2>
            <h1>130 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/k001 1.png" alt="">
            <h3>Квартира на Рижской</h3>
            <h2>Стиль - Скандинавский</h2>
            <h1>94 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/mebel2.jpg" alt="">
            <h3>Квартира на Чистых прудах</h3>
            <h2>Стиль - Лофт</h2>
            <h1>68 м2</h1>
        </div>
    </div>
    <div class="row">
        <div class="proj-card">
            <img src="../../../assets/Спальня основная_вид1 1.png" alt="">
            <h3>Квартира на Рижской</h3>
            <h2>Стиль - Скандинавский</h2>
            <h1>94 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/bedroom_small_6 1.png" alt="">
            <h3>Квартира на Чистых прудах</h3>
            <h2>Стиль - Лофт</h2>
            <h1>85 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/мытная (высоцкая)_hr-20 1.png" alt="">
            <h3>Квартира на Академической</h3>
            <h2>В стиле Лофт</h2>
            <h1>108 м2</h1>
        </div>
    </div>
    <div class="but">
        <button><img src="../../../assets/refresh.png" alt="">
            <h3 style="font-size: 15px; margin-top: 1px;">Еще проекты</h3>
        </button>
    </div>
</div>