<div class="project-box">
    <p class="one">СТОИМОСТЬ ПРОЕКТА</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="project-box-left">
            <h1>Узнайте стоимость дизайн-проекта, ответив на 3 вопроса</h1>
            <p>Пройдите короткий тест, узнайте цену, получите консультацию по будущему проекту</p>
            <button>Узнать стоимость</button>
        </div>
        <div class="project-box-right">
            <img src="../../../assets/Rectangle 56 (1).svg" alt="smth">
            <div class="card">
                <h2>Бонусы:</h2>
                <h3>
                    <div class="cub"></div>чек листы на 5 ошибок <br>в строительстве
                </h3><br>
                <h3>
                    <div class="cub"></div>5 трендов 2021 года на дизайн<br> интерьеров
                </h3>
            </div>
        </div>
    </div>
</div>