<div class="main-page-maindiv">
    <div class="images">
        <img class="Vector" src="../../../assets/Vector.png" alt="">
        <img class="logo-img" src="../../../assets/Logo.png" alt="logo">
        <img class="Vector2" src="../../../assets/Vector2.png" alt="">
    </div>
    <h5 class="text1">Лучшее для лучших</h5>
    <div class="two-button">
        <button class="b1">Проекты</button>
        <button class="b1">Расчитать стоимость</button>
    </div>
</div>
<div class="info-div">
    <div class="container">
        <div class="row">
            <div class="info_box">
                <h2>100 +</h2>
                <h3>
                    <div class="cub"></div> Реализованные проекты
                </h3>
                <p> Работаем с любой недвижимостью – от дворцов до квартир</p>
            </div>
            <div class="info_box">
                <h2>10 лет</h2>
                <h3>
                    <div class="cub"></div> Безупречная репутация
                </h3>
                <p>Наши специалисты постоянно<br> стажируются у лидеров строительных <br> работ</p>
            </div>
            <div class="info_box">
                <h2>3 года</h2>
                <h3>
                    <div class="cub"></div> Гарантии на все работы
                </h3>
                <p>Мы внимательно изучаем рынок<br> отделочных материалов и инновационной<br> техники</p>
            </div>
            <div class="info_box">
                <h2>Сроки</h2>
                <h3>
                    <div class="cub"></div> Процесс
                </h3>
                <p>Нужно лучшее – закажи это<br> у лучших!</p>
            </div>
        </div>
    </div>
</div>

<div class="project-box">
    <p class="one">СТОИМОСТЬ ПРОЕКТА</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="project-box-left">
            <h1>Узнайте стоимость дизайн-проекта, ответив на 3 вопроса</h1>
            <p>Пройдите короткий тест, узнайте цену, получите консультацию по будущему проекту</p>
            <button>Узнать стоимость</button>
        </div>
        <div class="project-box-right">
            <img src="../../../assets/Rectangle 56 (1).svg" alt="smth">
            <div class="card">
                <h2>Бонусы:</h2>
                <h3>
                    <div class="cub"></div>чек листы на 5 ошибок <br>в строительстве
                </h3><br>
                <h3>
                    <div class="cub"></div>5 трендов 2021 года на дизайн<br> интерьеров
                </h3>
                <h2>
                    <div class="cub"></div> чек листы на 5 ошибок<br> в строительстве
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="basic-services">
    <p class="one">ОСНОВНЫЕ УСЛУГИ</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="cards">
        <div class="card1">
            <img src="../../../assets/1 112.svg" alt="">
            <div class="cub"></div>
            <h1>3D-дизайн</h1>
            <p>Идейные соображения высшего порядка, а также внедрение современных методик обеспечивает актуальность
                глубокомысленных рассуждений. </p>
        </div>
        <div class="card1">
            <img src="../../../assets/_DSC3053 1.svg" alt="">
            <div class="cub"></div>
            <h1>Ремонт</h1>
            <p>Мы вынуждены отталкиваться от того, что глубокий уровень погружения допускает внедрение своевременного
                выполнения сверхзадачи. </p>
        </div>
        <div class="card1">
            <img src="../../../assets/IMG_9795-Edit-2-Edit-2 1.svg" alt="">
            <div class="cub"></div>
            <h1>Строительство</h1>
            <p>Мы вынуждены отталкиваться от того, что глубокий уровень погружения допускает внедрение своевременного
                выполнения сверхзадачи.</p>
        </div>
        <div class="card1">
            <img src="../../../assets/ланд 1.svg" alt="">
            <div class="cub"></div>
            <h1>Ландшафтный<br> дизайн</h1>
            <p>Идейные соображения высшего порядка обеспечивает актуальность глубокомысленных рассуждений. </p>
        </div>
    </div>
</div>

<div class="our-projects">
    <p class="one" style="margin-top: 70px;">НАШИ ПРОЕКТЫ</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="proj-card">
            <img src="../../../assets/15_белая столешница 1.png" alt="">
            <h3>Квартира на Академической</h3>
            <h2>Стиль - Лофт</h2>
            <h1>130 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/k001 1.png" alt="">
            <h3>Квартира на Рижской</h3>
            <h2>Стиль - Скандинавский</h2>
            <h1>94 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/mebel2.jpg" alt="">
            <h3>Квартира на Чистых прудах</h3>
            <h2>Стиль - Лофт</h2>
            <h1>68 м2</h1>
        </div>
    </div>
    <div class="row">
        <div class="proj-card">
            <img src="../../../assets/Спальня основная_вид1 1.png" alt="">
            <h3>Квартира на Рижской</h3>
            <h2>Стиль - Скандинавский</h2>
            <h1>94 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/bedroom_small_6 1.png" alt="">
            <h3>Квартира на Чистых прудах</h3>
            <h2>Стиль - Лофт</h2>
            <h1>85 м2</h1>
        </div>
        <div class="proj-card">
            <img src="../../../assets/мытная (высоцкая)_hr-20 1.png" alt="">
            <h3>Квартира на Академической</h3>
            <h2>В стиле Лофт</h2>
            <h1>108 м2</h1>
        </div>
    </div>
    <div class="but">
        <button><img src="../../../assets/refresh.png" alt="">
            <h3 style="font-size: 15px; margin-top: 1px;">Еще проекты</h3>
        </button>
    </div>
</div>

<div class="six-etaps">
    <p class="one" style="margin-top: 70px;">6 ЭТАПОВ ОТ ЗАЯВКИ ДО<br> СДАЧИ ГОТОВОГО ОБЪЕКТА</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="cards-data">
            <div class="num">
                <h1>01</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Vectorsms.png" alt="">
                <h2>Заявка</h2>
                <h3>Оставляйте заявку на сайте и получите 2 варианта планировки квартиры БЕСПЛАТНО</h3>
                <p><img class="tick" src="../../../assets/VectorTick.png" alt=""> Оставить заявку
                <p>
            </div>
        </div>
        <div class="cards-data">
            <div class="num">
                <h1>02</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Group 33.png" alt="">
                <h2>Дизайн</h2>
                <h3>Собираете на сайте стиль
                    из четырех готовых решений
                    с возможностью редактирования</h3>
                <p><img class="tick" src="../../../assets/VectorTick.png" alt=""> Выбрать дизайн
                <p>
            </div>
        </div>
        <div class="cards-data">
            <div class="num">
                <h1>03</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Vectorcalc.png" alt="">
                <h2>Расчет</h2>
                <h3>Расчитываете финальную стоимость ремонта с помощью
                    онлайн-калькулятора</h3>
                <p><img class="tick" src="../../../assets/VectorTick.png" alt=""> Посчитать</p>
            </div>
        </div>
    </div>
    <div style="width: 1106px; border: 2px black dotted; margin-left: 120px;"></div>
    <div class="row">
        <div class="cards-data">
            <div class="num">
                <h1>04</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Group.png" alt="">
                <h2>Договор</h2>
                <h3>Собираете на сайте стиль
                    из четырех готовых решений
                    с возможностью редактирования</h3>
                <p><img class="tick" src="../../../assets/VectorTick.png" alt=""> Оставить заявку
                <p>
            </div>
        </div>
        <div class="cards-data">
            <div class="num">
                <h1>05</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Paint x5F roller 1.png" alt="">
                <h2>Ремонт</h2>
                <h3>Собираете на сайте стиль
                    из четырех готовых решений
                    с возможностью редактирования</h3>
                <p><img class="tick" src="../../../assets/VectorTick.png" alt=""> Выбрать дизайн
                <p>
            </div>
        </div>
        <div class="cards-data">
            <div class="num">
                <h1>06</h1>
            </div>
            <div class="let">
                <img class="sym" src="../../../assets/Group 35.png" alt="">
                <h2>Сдача объекта</h2>
                <h3>Расчитываете финальную стоимость ремонта с помощью
                    онлайн-калькулятора</h3>
            </div>
        </div>
    </div>
    <button class="start">Начать <img src="../../../assets/Arrow 4.png" style="margin: 9px 0 0 5px;" alt=""></button>
</div>

<div class="chair">
    <h1>МЫ ТАМ, ГДЕ:</h1>
    <div class="cubs-and-sentences">
        <div class="cubs">
            <div class="cub2"></div>
            <div class="cub2"></div>
            <div class="cub2"></div>
        </div>
        <div class="sentences">
            <h2>Требуется высокое качество ремонтных работ</h2>
            <h2>Нужно четко соблюсти Бюджет</h2>
            <h2> Необходимо ответственно подойти к процессу</h2>
        </div>
    </div>
</div>

<div class="instagram">
    <img class="logo" src="../../../assets/instagram.png" alt="">
    <div class="insta">
        <img src="../../../assets/квар3 8.png" alt="">
        <img src="../../../assets/квар1 1.png" alt="">
        <img src="../../../assets/квар2 1.png" alt="">
        <img src="../../../assets/bedroom_small_6 1 (1).png" alt="">
    </div>
    <div class="insta">
        <img src="../../../assets/мытная (высоцкая)_hr-20 1 (1).png" alt="">
        <img src="../../../assets/Спальня основная_вид1 1.png" alt="">
        <img src="../../../assets/сканд 1.png" alt="">
        <img src="../../../assets/1111 1.png" alt="">
    </div>
</div>

<div class="catalogs">
    <p class="one" style="margin-top: 70px;">ПОЛУЧИТЕ КАТАЛОГ<br> НАШИХ ПРОЕКТОВ</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row2">
        <div class="card3">
            <img src="../../../assets/12 1.png" alt="">
        </div>
        <div class="card2">
            <h1>Оставьте ваш E-mail, чтобы<br> получить каталог наших<br> проектов</h1>
            <h2>Каталог поможет вам выбрать стиль <br>и продумать планировку квартиры</h2>
            <input class="email" type="text" placeholder="Введите ваш E-mail"><br>
            <h3><input class="check" type="checkbox">Я согласен на обработку персональных данных</h3>
            <button>Получить каталог</button>
        </div>
    </div>
</div>

<div class="last">
    <div class="c1">
        <img class="c1-img" src="../../../assets/Rectangle 165.png" alt="">
        <button>Наверх<img class="arrow" src="../../../assets/Arrow 4.png" style="margin: 9px 3px 0 5px;"></button>
    </div>
    <div class="c2">
        <img class="logo" src="../../../assets/Logo.png" alt="">
        <div class="messengers">
            <img src="../../../assets/Group 164.png" alt="">
            <img src="../../../assets/ins.png" alt="">
            <img src="../../../assets/face.png" alt="">
            <img src="../../../assets/youtube.png" alt="">
            <img src="../../../assets/tiktok.png" alt="">
            <img src="../../../assets/whatsapp.png" alt="">
        </div>
    </div>
    <div class="texts">
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Компания gid</h2>
            <h3>О нас</h3>
            <h3>Наша команда</h3>
            <h3>История</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Проекты</h2>
            <h3>Квартиры</h3>
            <h3>Коттеджы</h3>
            <h3>История</h3>
            <h3>Рестораны</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Услуги</h2>
            <h3>Квартиры</h3>
            <h3>Коттеджы</h3>
            <h3>История</h3>
            <h3>Рестораны</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Контакты</h2>
            <h3>+(7495) 555-15-05</h3>
            <h3>info<span>&commat;</span>gid.pro</h3>
        </div>
    </div>
</div>

