/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
} */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-page-maindiv {
    margin: 0%;
    background: url('../../../assets/photo-main1.jpg');
    height: 100vh;
}

.logo-img {
    width: 184.363px;
    height: 76.6px;
    flex-shrink: 0;
    margin-top: 40px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.Vector {
    width: 30px;
    height: 22px;
    flex-shrink: 0;
}

.Vector2 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.text1 {
    color: var(--Gray-6, #F2F2F2);
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 300;
    padding-top: 160px;
    margin-bottom: 70px;
    font-weight: 300;
    padding-top: 160px;
    margin-bottom: 50px;
}

.b1 {
    width: 208px;
    height: 57px;
    border: 1px solid #a39c9c;
    background: rgba(17, 17, 17, 0.60);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    margin-left: 375px;
}

.b2 {
    width: 208px;
    height: 57px;
    flex-shrink: 0;
    border: 1px solid #a39c9c;
    background: rgba(17, 17, 17, 0.60);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 100px;
}

.two-button {
    justify-content: space-between;
    display: flex;
    margin: 0 430px;
    align-items: center;
    padding: 20px 40px;
    grid-gap: 100px;
}
.info-div {
    background-color: #F2F2F2;
}
.info-div {
    display: flex;
    background-color: #FFF;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;
}

.info-div .container {
    background: var(--Gray-6, #F2F2F2);
    padding: 20px;
}

.info_box {
    width: 250px;
}

.info-div .row {
    align-items: start;
}

.info_box h2 {
    margin:  0 0;
    font-size: 38px;
}

.info_box h3 {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    font-size: 18px;
}

.info_box p {
    font-size: 12px;
}

.cub {
    width: 20px;
    height: 20px;
    background: #0E0E0E;
}

.one {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0;
    margin-left: 50px;
}
.project-box .one {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 300;
    margin: 20px 0;
    margin-left: 30px;
}

.project-box {
    width: 100%;
    margin: 0 0;
    height: 200px;
    margin-bottom: 230px;
}

.project-box .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0% 110px;
    gap: 20px;
}

.project-box-left {
    width: 550px;
    height: 200px;
}

.project-box-left h1{
    font-size: 27px;
}

.project-box-left h1{
    font-size: 30px;
}
.project-box-left p{
    margin-top: 18px;
    font-family: Roboto;
    font-size: 18px;
}
.project-box-left button{
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    width: 260px;
    height: 42px;
    flex-shrink: 0;
    margin-top: 60px;
}

.project-box-right {
    width: 500px;
    height: 300px;
}
.project-box-right img{
    width: 407px;
    height: 163px;
    height: 200px;
}
.project-box-right img{
    width: 407px;
    height: 173px;
}

.card{
    margin-left: 100px;
}

.project-box-right h2{
    margin-top: 5px;
    font-size: 20px;
    display: flex;
    color: #000;
    gap: 5px;
}

.project-box-right h3{
    display: flex;
    font-size: 15px;
    color: var(--Gray-1, #333);
    gap: 3px;
    margin: 5px 0;
}

.basic-services{
    width: 100%;
    margin: 0 0;
}
.basic-services .cub{
    background: var(--Gray-2, #4F4F4F);
}

.basic-services h1{
    color: #0E0E0E;
}

.cards{
    display: flex;
    justify-content: center;
}

.card1{
    width: 300px;
}

.card1 img{
    width: 300px;
    height: 380px;
}

.card1 h1{
    font-size: 28px;
    margin-top: 6px;
    margin-left: 13px;
    margin-bottom: 10px;

}

.card1 p{
    font-size: 13px;
    margin-left: 13px;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    color: var(--Gray-1, #333);
    gap: 5px;
}