<div class="main-page-maindiv">
    <div class="images">
        <img class="Vector" src="../../../assets/Vector.png" alt="">
        <img class="logo-img" src="../../../assets/Logo.png" alt="logo">
        <img class="Vector2" src="../../../assets/Vector2.png" alt="">
    </div>
    <h5 class="text1">Лучшее для лучших</h5>
    <div class="two-button">
        <button class="b1">Проекты</button>
        <button class="b2">Расчитать стоимость</button>
    </div>
</div>
<div class="info-div">
    <div class="container">
        <div class="row">
            <div class="info_box">
                <h2>100 +</h2>
                <h3>
                    <div class="cub"></div> Реализованные проекты
                </h3>
                <p> Работаем с любой недвижимостью – от дворцов до квартир</p>
            </div>
            <div class="info_box">
                <h2>10 лет</h2>
                <h3>
                    <div class="cub"></div> Безупречная репутация
                </h3>
                <p>Наши специалисты постоянно<br> стажируются у лидеров строительных <br> работ</p>
            </div>
            <div class="info_box">
                <h2>3 года</h2>
                <h3>
                    <div class="cub"></div> Гарантии на все работы
                </h3>
                <p>Мы внимательно изучаем рынок<br> отделочных материалов и инновационной<br> техники</p>
            </div>
            <div class="info_box">
                <h2>Сроки</h2>
                <h3>
                    <div class="cub"></div> Процесс
                </h3>
                <p>Нужно лучшее – закажи это<br> у лучших!</p>
            </div>
        </div>
    </div>
</div>

<div class="project-box">
    <p class="one">СТОИМОСТЬ ПРОЕКТА</p>
    <div style="width: 120px; height: 6px;margin: 10px 0; background: #0E0E0E"></div>
    <div class="row">
        <div class="project-box-left">
            <h1>Узнайте стоимость дизайн-проекта, ответив на 3 вопроса</h1>
            <p>Пройдите короткий тест, узнайте цену, получите консультацию по будущему проекту</p>
            <button>Узнать стоимость</button>

            <h1>aweag   </h1>
        </div>
        <div class="project-box-right">
            <img src="../../../assets/Rectangle 56.svg" alt="smth">
            <div class="card">
                <h2>Бонусы:</h2>
                <h2><div class="cub"></div> чек листы на 5 ошибок<br> в строительстве</h2>
            </div>
        </div>
    </div>
</div>
