<div class="last">
    <div class="c1">
        <img class="c1-img" src="../../../assets/Rectangle 165.png" alt="">
        <button>Наверх<img class="arrow" src="../../../assets/Arrow 4.png" style="margin: 9px 3px 0 5px;"></button>
    </div>
    <div class="c2">
        <img class="logo" src="../../../assets/Logo.png" alt="">
        <div class="messengers">
            <img src="../../../assets/Group 164.png" alt="">
            <img src="../../../assets/ins.png" alt="">
            <img src="../../../assets/face.png" alt="">
            <img src="../../../assets/youtube.png" alt="">
            <img src="../../../assets/tiktok.png" alt="">
            <img src="../../../assets/whatsapp.png" alt="">
        </div>
    </div>
    <div class="texts">
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Компания gid</h2>
            <h3>О нас</h3>
            <h3>Наша команда</h3>
            <h3>История</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Проекты</h2>
            <h3>Квартиры</h3>
            <h3>Коттеджы</h3>
            <h3>История</h3>
            <h3>Рестораны</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Услуги</h2>
            <h3>Квартиры</h3>
            <h3>Коттеджы</h3>
            <h3>История</h3>
            <h3>Рестораны</h3>
        </div>
        <div class="c3">
            <h2 style="color:#FAFF09; margin-bottom: 35px; font-size: 17px;">Контакты</h2>
            <h3>+(7495) 555-15-05</h3>
            <h3>info<span>&commat;</span>gid.pro</h3>
        </div>
    </div>
</div>